
* {
    margin: 0;
    padding: 0;
    font-size: 1m;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

 /* [class*="col-"] {
  padding: 15px;
  border: 1px solid red;
}  */

#profile {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex; 
}

#windows_text, .button, #shop_text, #clients_text, #storyteller_text{
    letter-spacing: 0.3em;
}

#windows_text, .button1, #shop_text, .item2, .button2, #clients_text, .button3, #menu{
    text-transform: uppercase;
}

.button, .button2{
    font-size: 1vw;
}

#shop_text{
    font-size: 1.5vw;
}



#windows_text{
    text-align: center;
    margin: 2% 0%;
    font-size: 1.2vw;
}

a {
    color: black;
  }

  a:hover{
    text-underline-position: under; 
    color: #808080;
    text-decoration-color: #D3D3D3;
  }

  .button {
    font-family: 'Karla';
    background-color: white;
    border: none;
    color: white;
    padding: 1.5% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2% 0;
    cursor: pointer;
  }

  .button1 {
    background-color: white;
    color: black;
    border: 2px solid black;
  }

  .button2{
    background-color: #f7eadf;
    color: black;
    border: 2px solid black;
    padding: 3% 8%;
  }

  .button3{
    background-color:white;
    color: black;
    border: 2px solid black;
    padding: 4% 10%;
    margin-top: 5%;
  }

  #button_project{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #h1_text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    text-align: center;
    line-height: 400%;
    background-color: #f7eadf;
    padding: 4% 0;

    color: #808080;
    text-transform: uppercase;
    letter-spacing: 0.3em;
  }

  h1{
    font-size: 2vw;
  }

  h2{
    font-size: 1.4vw;
  }


  .storytelling_container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 3% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  #storyteller_image{
    max-width: 80%;
    margin-left: 10%;
  }

  #storyteller_text{
    text-align: center;
    justify-content: center;
    padding: 20% 0% ;
    line-height: 200%;
    margin-top: 20%;
    font-size: 1.7vw;

  }

  .shop {
    display: grid;
    grid-template-columns: auto auto;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7eadf;
  }

  #shop_text{
    text-align: center;
    padding: 20% 10% ;
    line-height: 200%;
  }

  #button_shop{
    margin-top: 5%;
  }

  #shop_prints_image{
    max-width: 100%;
  }

  .items2 .shop_text{
    margin: 0 15%;
  }

  #footer{
    clear: both; 
  }

  .footer{
    background-color: #f7eadf;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    text-align: center;
    line-height: 300%;
    padding: 4% 0;
    font-size: 1.2vw;
  }

.clients_image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#clients_image{
    width: 65%;
    margin: 1% 0%;
    margin-bottom: 5%;
}

#clients_text{
    text-align: center;
    font-size: 2vw;
    margin-bottom: 2%;
    margin-top: 5%;
  }

iframe[seamless] {
    border: none;
    width: 60%;
    height: 350px;
    margin: 0% 20%;
}

hr{
  margin: 0 10%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,#D3D3D3, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#contact{
  display: flex;
  align-items: center;
  padding: 3% 5%;
}

#contacts_image{
  width: 80%;
  margin-bottom: 5%;
  margin-left: 5%;
}


#contact_text{
  text-align: center;
  font-size: 1.4vw;
  padding: 0% 2%;
  line-height: 150%;
}

#contact_title{
  font-size: 1.8vw;
  margin-bottom: 3%;
  letter-spacing: 0.2em;

}

#contact_text_content{
  font-size: 1.2vw;
  letter-spacing: 0.1em;
}

ul li{
  display: inline;
}

/* HEADER */
#header{
  display: flex;
  padding: 1% 0%;
}

#header ul li a {text-decoration:none}


#menu{
  width: 100%;
  padding-left: 2%;
  word-spacing: 0.7em;
  letter-spacing: 0.15em;
  font-size: 0.7vw;
  background-color: white;
}

#navbar #navbar-expand-lg #navbar-light #bg-light{
  background-color: white;
}

#social{
  width: 100%;
  word-spacing: 0.5em;
}

#social_items{
  float:right;
  padding-right: 15%;
  padding-top: 2.2%;
}

#logo{
  width: 60%;
}

#logo_items{
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo_image{
  width: 65%;
}

.dropdown-item{
  display: block;
 }

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* END HEADER */

/* Image for Parallax Section */ 
.paralsec {
  background-image: url("cover.jpg");
  max-width: 100%;
  height: auto;
}

.paral {
  min-height: 600px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  }

/* Paragraph for Parallax Section */ 
.paral p {
font-size: 24px;
color:#f5f5f5;
text-align: center;
line-height: 60px;
}
 
/* Heading for Parallax Section */ 
.paral {
color: rgba(255, 255, 255, 0.8);
font-size: 60px;
text-align: center;
padding-top: 60px;
line-height: 100px;
}

/* Remove Bottom Margin from Jumbotron */
.jumbotron{margin-bottom: 0;}

/* Footer */
.wn-footer {
  padding: 2.5rem 0;
  text-align: center;
  color: white;
  background-color: #607D8B;
  border-top: .05rem solid #e5e5e5;
  }
   
  .wn-footer a {
  color: yellow;
  }